img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  transition: 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
}

.image-grid-comp {
  .image-grid-container {
    max-width: 90vw;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    grid-auto-flow: dense;
    grid-template: auto/ repeat(
        auto-fill,
        minmax(clamp(7rem, 15vw, 15rem), 1fr)
      );

    .grid-item {
      height: 100%;
      // width: 15rem;
      max-width: 100%;
      transition: 0.3s ease;
      justify-self: center;
    }
  }
}

.img-carousel-comp {
  .img-carousel-container {
    display: grid;
    grid-template: 1fr /1fr;
    justify-items: center;
    min-height: 200px;
    min-width: 200px;
    width: max-content;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    max-width: 90vw;

    .carousel-item {
      max-height: 70vh;
      max-width: 800px;
      grid-row: 1/-1;
      grid-column: 1/-1;
      height: 100%;
      transition: 0.3s ease-out;
      opacity: 0;
      pointer-events: none;
    }
  }

  .controls-group {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

// utility classes
.display-in {
  opacity: 1 !important;
  pointer-events: all !important;
}

// animations
.apply-image-load-animation {
  background: linear-gradient(
    140deg,
    hsl(0, 0%, 100%) 0%,
    hsl(0, 0%, 80%) 50%,
    hsl(0, 0%, 100%) 100%
  );
  background-size: 300%;
  animation: image-load-animation 1s ease infinite running forwards;
}

@keyframes image-load-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}
